body{
    background-color: bisque;
}

h1{
    color: brown;
    background-color: rgba(72, 72, 90, 0.527)
}

#torta{
    width: 75%;
    max-width: 500px;
}

ul{
    background-color: white;
    padding: 20px;
    border: black solid 2px;
    margin: 20px;
}

li{
    background-color: brown;
}

.img{
    size: 50%;
}

.img:hover{
    size: 75%;
}

.social{
    height: 75px;
    align-items: center;
    margin: 100px;
    transition: .4s;
}

.social:hover{
    height: 150px;

}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}